body {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    color: #333;
}

/* 1. HEADER */

.header {
    margin: 10px 0 50px 0;
}

/* 1-1) HEADER TITLE */

.header-title {
    background: white;
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 16px;
    box-sizing: content-box;
}

.header-title .logo {
    margin: 0;
}

.header-title .logo a {
    font-size: 18px;
    font-weight: bold;
    color: inherit;
    text-decoration: none;
}

.header-title .slogan {
    margin: 40px 0 20px 0;
}

.header-title .slogan strong {
    font-size: 36px;
}

.header-title .slogan p {
    margin: 8px 0;
}

.header-title .slogan p {
    font-size: 13px;
    color: #999;
}

/* 1-2) BANNER */

.header .banner-container {
    height: 400px;
    position: relative;
}

.banner {
    position: absolute;
    height: 100%;
    width: 100%;
    background-position: center;
    background-color: rgba(58, 58, 58, 0.3);
    background-blend-mode: multiply;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
    z-index: 0;
}

.banner.active {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    z-index: 1;
}

.banner .banner-content {
    width: 1020px;
    padding: 0 16px;
    box-sizing: content-box;
}

.banner .banner-content h2 {
    font-size: 48px;
    color: #fff;
}

.banner .banner-content .banner-button {
    display: block;
    width: 160px;
    height: 40px;
    border-radius: 40px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    color: #333;
    margin-top: 32px;
    background-color: #fff;
    border: none;
    cursor: pointer;
}

.banner .banner-content .banner-button:hover {
    background-color: #cbcbcb;
}

.banner-container .banner-indicators {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 20;
}

.banner-container .banner-indicators .dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: white;
    opacity: 0.4;
    transition: opacity 0.5s ease-in-out;
    cursor: pointer;
}

.banner-container .banner-indicators .dot.active {
    opacity: 1;
}

/* 2. MAIN */

.main {
    width: 100%;
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
    padding: 8px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 24px;
}

/* 2-1) area-main */

.main .area-main {
    width: 100%;
    max-width: 900px;
}

.area-main .title-search {
    padding-bottom: 15px;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 20px;
}

.area-main .title-search b {
    font-size: 17px;
    font-weight: bolder;
    color: #333;
}

.area-main .title-search span {
    color: #ef402f;
    font-size: 17px;
    font-weight: bold;
}

.area-main .article {
    margin: 20px 0;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: -2px 2px 2px rgb(180, 180, 180);
    background-color: rgb(245, 245, 245);
    border-radius: 2px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.area-main .article a,
.area-main .lab a {
    text-decoration: none;
}

.area-main .article .article-preview .title {
    color: #333;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.67;
}

.area-main .article .article-preview .summary {
    color: #777;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.8;
    margin: 10px 0;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.area-main .article .box-meta .category {
    font-size: 12px;
    line-height: 1.67;
    color: #333;
}

.area-main .article .box-meta .date {
    position: relative;
    margin-left: 15px;
    font-size: 12px;
    line-height: 1.67;
    color: #999;
}

.area-main .article .box-meta .date:before {
    content: '';
    position: absolute;
    top: 10px;
    left: -10px;
    width: 2px;
    height: 2px;
    background: #999;
    border-radius: 2px;
}

.area-main .lab {
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.area-main .lab .title {
    width: fit-content;
    color: #bda885;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    display: inline-block;
    padding: 4px 8px;
    border: 2px solid #CBBBA0;
    overflow: hidden;
    z-index: 1;
    transition: color 0.3s ease;
}

.area-main .lab .title::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150%;
    height: 0%;
    background-color: #CBBBA0;
    z-index: -1;
    opacity: 0;
    transition: all 0.75s ease;
    transform: translate(-50%, -50%) rotate(-25deg);
}

.area-main .lab .title:hover {
    color: white;
}

.area-main .lab .title:hover::after {
    height: 400%;
    opacity: 1;
}

.area-main .lab .summary::before {
    content: "- ";
    color: inherit;
    margin: 0 4px 0 10px;
}

.area-main .lab .summary {
    color: #bda885;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.8;
    margin: 10px 0;
}

/* 3. ASIDE */

.main .area-aside .box-profile {
    height: 360px;
    width: 220px;
    background-image: url('asset/img/profile.jpg');
    background-position: center;
    background-color: rgba(58, 58, 58, 0.3);
    background-blend-mode: multiply;
    background-size: cover;
    border-radius: 2px;
    margin-bottom: 45px;
}

.area-aside .box-category .tt_category {
    padding: 0;
}

.area-aside .box-category .tt_category li {
    list-style: none;
}

.area-aside .box-category .tt_category ul {
    padding-inline-start: 0px;
}

.area-aside .box-category .tt_category a {
    display: block;
    text-decoration: none;
}

.area-aside .box-category .tt_category .link_tit,
.area-aside .box-category .tt_category .link_item {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.64;
    color: #777;

    margin: 11px 0;
}

.area-aside .box-category .tt_category .link_item:hover,
.area-aside .box-category .tt_category .link_tit:hover {
    font-size: 14px;
    font-weight: 500;
    color: #333 !important;
    text-decoration: underline;
}

.area-aside .box-category .tt_category .link-sub-item {
    font-size: 13px;
    line-height: normal;
    color: #999;

    position: relative;
    margin-bottom: 5px;
    margin-left: 22px;
}

.area-aside .box-category .tt_category .link-sub-item:hover {
    font-weight: 600;
    color: #333;
}

.area-aside .box-category .tt_category .link-sub-item::before {
    content: '';
    position: absolute;
    top: 12px;
    left: -13px;
    width: 7px;
    height: 1px;
    background: #999;

    font-size: 13px;
    line-height: normal;
    color: #999;
}

.area-aside .box-category .tt_category .c_cnt {
    display: inline-block;
    font-size: 12px;
    vertical-align: 1px;
}

.area-aside .box-category {
    margin-bottom: 40px;
    padding-bottom: 33px;
    border-bottom: 1px solid #e8e8e8;
}

.area-aside .box-visit .title-sidebar {
    display: block;
    margin: 0 0 7px 0;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    color: #333;
}

.area-aside .box-visit .text-total {
    margin: -10px 0 3px 0;
    line-height: 1.64;
    font-size: 24px;
    font-weight: 600;
    color: #333;
}

.area-aside .box-visit .item-visit {
    font-size: 13px;
    line-height: 1.71;
    color: #999;
}

.area-aside .box-visit ul {
    margin: 0;
    padding-inline-start: 0px;
    list-style: none;
}

/* 4. FOOTER */

#footer {
    margin-top: 120px;
    padding: 35px 0 60px 0;
    border-top: 1px solid #efefef;
}

/* MOBILE */

@media screen and (max-width: 768px) {
    .main {
        display: block;
    }

    .header {
        margin: 10px 0 30px 0;
    }

    .main .area-aside {
        display: none;
    }
}