@import url('https://fonts.googleapis.com/css2?family=Asta+Sans:wght@300..800&display=swap');

body, html {
    padding: 0;
    margin: 0;
}

/* HEADER */

header {
    box-sizing: border-box;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 30px 36px;
}

#logo a, #menu a {
    font-family: "Asta Sans", sans-serif;
    color: #222;
    text-decoration: none;
}

#menu a {
    font-size: 12pt;
    font-weight: 500;
    padding: 0 6px;
}

#menu a:hover {
    border-bottom: 2px solid #40c22f;
}

#menu {
    display: flex;
    gap: 26px;
}

#logo a {
    font-size: 16pt;
    font-weight: 600;
}

.active {
    border-bottom: 2px solid #40c22f;
}

/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
    font-family: "Asta Sans", sans-serif;
}

#footer-title {
    font-size: 16pt;
    font-weight: 700;
    color: #555;
}

#footer-desc {
    font-size: 11pt;
    font-weight: 400;
    color: #999;
}

#footer-copy {
    font-size: 9pt;
    font-weight: 400;
    color: #999;
}