.mod-jar-download {
    color: inherit;
    text-decoration: none;

    max-width: fit-content;
    margin: 20px 0;
    display: block;

    transition: transform 0.15s ease;
}

.mod-jar-download:hover {
  transform: translateY(-3px);
}

.mod-jar-download:active {
  transform: translateY(0);
}